@import 'variables';
@import "bootstrap";

a:hover {
  text-decoration: none;
}

article p {
  margin-bottom: $line-height-computed;
}

h1 {
  margin-bottom: 0;
}

h2, h3, h4, h5 { margin-top: 0; }

header {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 1em;

  .lead {
    margin-left: 120px;
  }
}

aside {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #f5f5f5;
  font-size: 80%;

  .img-thumbnail {
    margin: 0.25em;
  }

  .button {
    @extend .btn;
    @extend .btn-default;
    width: 100%;

    &.primary {
      @extend .btn-lg;
      @extend .btn-primary;
    }
  }
}

blockquote {
  font-style: italic;
}

img.hire {
  width: 2em;
  margin-right: 1em;
  margin-bottom: 0;
  padding-top: 0.25em;
  float: left;
}

article img {
  margin: 0.25em 0;
}
