body {
  font-family: sans-serif;
  width: 50em;
  margin: 0 auto;
}

header img {
  float: left;
  margin-right: 1em;
}

.main-navigation {
  list-style: none;
  padding: 0.25em;
  background: #ccc;
  height: 1.5em;
}

.main-navigation li {
  float: left;
  margin-right: 1em;
  padding: 0.25em;
}

#main {
  float:left;
  width: 40em;
}

aside {
  float: left;
  width: 10em;
}
