<% wrap_layout :page do %>
  <article>
    <h2>
      <%= current_article.title %>
    </h2>
    <p>
      <small class="text-muted">
        <%= format_date current_article.date %>
      </small>
    </p>
    <%= yield %>
  </article>

  <%= partial 'blog/disqus' if comments_enabled? %>
<% end %>
