---
title: Articles
---
<h2>Articles</h2>

<div class="archive">
<% page_articles.group_by { |a| format_date(a.date) }.each do |date, articles| %>
  <h3><%= date %></h3>
  <% articles.each do |article| %>
    <div><%= link_to article.title, article %></div>
  <% end %>
<% end %>
</div>
