---
title: 404 Not Found
directory_index: false
---

<h2>404 - Not Found</h2>

<p>
  Sorry, this link is broken.
  Please <%= link_to 'email me', 'mailto:daniel+404@fone.net.nz' %> and I'll try
  to help you find what you're looking for.
</p>
<p>
  I'd love to give you something witty to look at here,
  but I really just want to ship this site.
  Try looking in the <%= link_to 'archives', '/blog/archives' %> instead.
</p>
