---
title: 404 Not Found
directory_index: false
---

<h2>404 - Not Found</h2>

<p>
  Sorry, this link is broken.
  <noscript>
    Please <%= link_to 'tweet me', 'https://twitter.com/danielfone' %> to let me know.
  </noscript>
  <script type="text/javascript">
    var twitter_url = "https://twitter.com/home?status=@danielfone+404+on+"+location.href;
    var link = '<a href="'+twitter_url+'">click here</a>';
    document.write("Please " + link + " to magically let me know.");
  </script>
</p>
<p>
  I'd love to give you something witty to look at here,
  but I really just want to ship this site.
  Try looking in the <%= link_to 'archives', '/blog/archives' %> instead.
</p>
