---
title: Hire Me
---
<h2>Hire Me</h2>

<p>
  Whether refining backlogs, mentoring teams, auditing codebases, or implementing bespoke information systems,
  I believe in continuous delivery of value. For smaller engagements, I typically work on a <strong>per day rate</strong>.
  Larger projects can be negotiated to suit.
</p>

<%= partial 'contact_me' %>
