<h2>Hire Me</h2>

<p><%= image_tag "noun-project-calendar.svg", class: 'hire' %>
I typically work on a <strong>per day rate</strong>.
If you have some idea about how many days you want,
let me know and I&rsquo;ll schedule them in as soon as possible.</p>

<p><%= image_tag "noun-project-dollar.svg", class: 'hire' %>
I&rsquo;m also happy to do <strong>fixed price quotes</strong>
if the project is small and well defined.
I can work with you to develop a spec if needed.</p>

<p><%= image_tag "noun-project-clock.svg", class: 'hire' %>
Finally, in some situations I&rsquo;m happy to work at an <strong>hourly rate</strong>,
but I try to work full days where possible.</p>

<div class="well"><%= partial 'contact_me' %></div>
