<p>
  I&#8217;m a freelance Ruby on Rails engineer,
  who loves working with <strong>great people</strong>
  to make <strong>interesting things</strong>.
</p>
<p>
  If you’re creating something interesting,
  get in touch! You can probably
  <a href="/hire">hire me</a>.
</p>

<p>As my 2 year old son says to me:</p>

<blockquote>Let&#8217;s go build all the things!</blockquote>
