<%= avatar_img_tag %>
<h2>About</h2>

<p>
  I&#8217;m a freelance software engineer, with 20 years
  of experience delivering web applications both independently and as a
  technical lead.

  My deepest expertise is with Ruby/Rails and PostgreSQL, but I have worked
  extensively with modern JavaScript frameworks and tooling.
</p>
<p>
  I live near Christchurch, New&nbsp;Zealand with my wife and kids, and in recent
  years I've helped organise the
  <a href="https://www.meetup.com/Christchurch-Ruby-Group/">Christchurch Ruby</a>
  meetups and served as secretary on the
  <a href="https://ruby.nz/">Ruby New Zealand</a>
  committee.
</p>

<p>Much like Ruby, I try to be optimised for happiness — both my own and other people's.</p>

<p>
  I love working with good people to make useful things.
  If you're interested, get in touch! You can probably <a href="/hire">hire me</a>.
</p>

<aside class="recent-posts">
  <h2>Recent Posts</h2>
  <% recent_articles.each do |article| %>
    <h3>
      <%= link_to article.title, article.url %>
    </h3>
    <p><%= article.data[:summary] %></p>
  <% end %>

  <p>
    <small><%= link_to 'More posts', '/blog/archives/' %></small>
  </p>
</aside>
