<!DOCTYPE html>
<html lang="en">
  <!-- Handcrafted HTML for your reading pleasure -->

  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/atom.xml" rel="alternate" title="Daniel Fone" type="application/atom+xml">
    <link href="/favicon.png" rel="icon">
    <%= stylesheet_link_tag 'application' %>
    <%= partial 'analytics' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
